.ui.comments .comment .avatar img, .ui.comments .comment img.avatar {
    height: auto !important;
}

.ui.comments {
    max-width: None !important;
}

.ui.comments .reply.form textarea {
    height: auto !important;
}

#send-btn {
    padding: 2.2rem 0;
}

.chatting-room-filter {
    padding: 0 !important;
}

.chatting-room-header {
    margin-top: 0 !important;
}

.chatting-room-filter-text {
    display: inline !important;
    margin-left: 2vh;
}