<a class="item {% if request.path == '/' %} active {% endif %}" href="{% url 'main' %}">HOME</a>
<a class="item {% if 'progressive' in request.path %} active {% endif %}" href="{% url 'chat_progressive' %}">Progressive Party</a>
<a class="item {% if 'conservative' in request.path %} active {% endif %}" href="{% url 'chat_conservative' %}">Conservative Party</a>
<a class="item {% if 'neutral1/' in request.path %} active {% endif %}" href="{% url 'chat_neutral1' %}">Neutral Party(1)</a>
<a class="item {% if 'neutral2/' in request.path %} active {% endif %}" href="{% url 'chat_neutral2' %}">Neutral Party(2)</a>
<a class="item {% if 'neutral2_meta' in request.path %} active {% endif %}" href="{% url 'chat_neutral2_meta' %}">Neutral Party(2) + META</a>
<div class="right item">
    <a class="item {% if 'evaluate' in request.path %} active {% endif %}" href="{% url 'evaluate' %}">Evaluate</a>
</div>