{% extends "bases/base.html" %}
{% load static %}
{% load custom_tags %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}


{% block content %}
<div id="comments" class="ui comments">
    {% block chatting-room-filter %}
    {% endblock %}
    <h3 class="ui dividing header chatting-room-header">
        Chatting Room
    </h3>
    {% include "message.html" with model_name=request.path|to_model_name content="안녕하세요" %}
</div>
<div class="ui reply form">
    <div class="ui grid field">
        <textarea id="send-msg" class="thirteen wide column" rows="3"></textarea>
        <div id="send-btn" class="two wide column ui blue button middle aligned">
            Send
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
